################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorWeb/bin/Debug/net9.0
/BlazorWeb/obj
/ServicesInterfaces/bin/Debug/net9.0
/ServicesInterfaces/obj
/Services/bin/Debug/net9.0
/Services/obj
/DataObjects/bin/Debug/net9.0
/DataObjects/obj
/RazorComponent/bin/Debug/net9.0
/RazorComponent/obj
/LazyLoadingComponent/obj
/LazyLoadingComponent/bin/Debug/net9.0
/ServicesUnitTests/bin/Debug/net9.0
/ServicesUnitTests/obj/Debug/net9.0
/ServicesUnitTests/obj
/BlayorWebUnitTests/bin/Debug/net9.0
/BlayorWebUnitTests/obj/Debug/net9.0
/BlayorWebUnitTests/obj
/CustomerWebApi/obj
/CustomerWebApi/bin/Debug/net9.0
