################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorWeb/bin/Debug/net9.0
/BlazorWeb/obj
/ServicesInterfaces/bin/Debug/net9.0
/ServicesInterfaces/obj
/Services/bin/Debug/net9.0
/Services/obj
/DataObjects/bin/Debug/net9.0
/DataObjects/obj
