@page "/Form"
@inherits FormBase
@using BlazorWeb.Components;
@using BlazorWeb.Forms
@using BlazorWeb.SampleData;

<PageTitle>A Form</PageTitle>

<h3>Forms with Blazor Components</h3>

<MemberForm Member="@Member" />