@page "/"
@using RazorComponent

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<BoringMessage />

<div>
    Example of accesing RazorComponent Library resource <img src="_content/RazorComponent/background.png" style="height: 50px; width: 50px;" />
</div>