@page "/LifeCycle"
@inherits LifeCycleBase

<PageTitle>Life Cycle</PageTitle>

<h1>Life Cycle</h1>
 
<br />

@Text 

<br/>
<br />

The number: @Counter
<br />
<button class="btn btn-success" @onclick="ClickAsync">Click</button>