@page "/ManualRender"
@inherits ManualRenderBase

<PageTitle>Timely increament</PageTitle>

<h1>Timely increament</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Start</button>
