@page "/OneWayBindingBase"
@inherits OneWayBindingBase
@using BlazorWeb.Components;

<PageTitle>One Way Binding</PageTitle>

<h1>One Way Binding</h1>

<PersonData Name="John Smith" Age="42" Address="@Address" />


