<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather from Json File
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter as 1 file
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contador">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contador splitted
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoggerExample">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Logger Example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManualRender">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Async Manual Render
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OneWayBinding">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> One Way Down Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OneWayUpBinding">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> One Way Up Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TwoWayBinding">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Two Way Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RefComponent">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reference Component
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Form">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Forms with Blazor
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
