@page "/Unity"
@inherits UnityBase

<PageTitle>Unity</PageTitle>

<h1>Unity</h1>

<button id="unity-red" class="btn btn-primary">
    Red
</button>

&nbsp;&nbsp;&nbsp;&nbsp;

<button id="unity-blue" class="btn btn-primary">
    Blue
</button>

<br />
<br />

<div id="unity-container">
    <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>    
</div>
